.env
*.pyc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
ENV.bak/
__pycache__/
venvvps
venvvpsmain
/venvvps
/venvvpsmain
*.pyc
app/static/js/minified/*.js
app/static/css/*.css
bun.lock
node_modules
docker-compose.yml
docker-compose.dev.yml
celerybeat-schedule.*
celerybeat-schedule
testes_internos_arquivos_dev/*